.hero-image {
  width: auto;
  height: 275px;
  flex: 0 1 auto;
}

.stars {
  width: auto;
  height: 150px;
}

.top-container {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.top-container, .footer {
  background-color: #4a4e69;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-logo-text {
  font-size: 24px;
}

.header-nav {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 5em;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  column-gap: 10em;
  padding-bottom: 50px;
}

.header, .hero-section {
  margin: 0px 10%;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0px;
}

.hero-main-text, .header-logo-text {
  color: #f9faf8;
  margin-top: 0px;
}

.hero-secondary-text, .header-nav-links {
  font-size: 18px;
  color: #e5e7eb;  
}

.hero-button {
  background-color: #3882f6;
  border-radius: 10px;
  border: 0px;
  color: #f9faf8;
  padding: 8px 24px; 
  font-weight: bold;
}

.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.image-container {
  display: flex;
  justify-content: center;
}


a {
  text-decoration: none;
  color: #e5e7eb; 
}

a:hover {
  color: rgba(20, 60, 200, 80%);
}

a:visited {
  color: #e5e7eb;
}

a:visited:hover {
  color: rgba(20, 60, 200, 80%);
}

.text {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}